{{ $pages := .Pages }}
{{ $offset := default 0 .Offset }}
{{ $locals := resources.Match "images/*" }}
{{ $locals := sort $locals "Name" }}
<div id="gallery" class="gallery">
  {{ range $i, $p := $pages }}
    {{ $imgURL := "" }}
    {{ $srcset := "" }}
    {{ $sizes := "(max-width: 700px) 50vw, (max-width: 1100px) 33vw, 260px" }}
    {{ $fullURL := "" }}
    {{ $fullset := "" }}
    {{/* Build album slides: prefer page resources, else .Params.images, else single image fallback */}}
    {{ $album := slice }}
    {{ $res := ($p.Resources.ByType "image") }}
    {{/* Sort page bundle images by leading numeric prefix in filename (e.g. 01_cover.jpg, 10-detail.png). Non-numeric prefixes go last, then by Name. */}}
    {{ $ordered := slice }}
    {{ if gt (len $res) 0 }}
      {{ $annotated := slice }}
      {{ range $r := $res }}
        {{ $name := $r.Name }}
        {{ $match := findRE "^[0-9]+" $name }}
        {{ $num := 999999 }}
        {{ if gt (len $match) 0 }}
          {{ $raw := index $match 0 }}
          {{ $strip := replaceRE "^0+" "" $raw }}
          {{ if eq $strip "" }}{{ $strip = "0" }}{{ end }}
          {{ $num = (int $strip) }}
        {{ end }}
        {{ $annotated = $annotated | append (dict "res" $r "num" $num "name" $name) }}
      {{ end }}
      {{ $sorted := sort $annotated "num" "name" }}
      {{ range $item := $sorted }}
        {{ $ordered = $ordered | append $item.res }}
      {{ end }}
      {{ $img := index $ordered 0 }}
      {{ $small := $img.Fit "520x520" }}
      {{ $med := $img.Fit "780x780" }}
      {{ $large := $img.Fit "1040x1040" }}
      {{ $srcset = printf "%s 520w, %s 780w, %s 1040w" $small.RelPermalink $med.RelPermalink $large.RelPermalink }}
      {{ $imgURL = $small.RelPermalink }}
      {{ $xl := $img.Fit "1600x1600" }}
      {{ $xxl := $img.Fit "2048x2048" }}
      {{ $fullURL = $xl.RelPermalink }}
      {{ $fullset = printf "%s 1040w, %s 1600w, %s 2048w" $large.RelPermalink $xl.RelPermalink $xxl.RelPermalink }}
      {{/* Build album from all page image resources */}}
      {{ range $r := $ordered }}
        {{ $rLarge := $r.Fit "1040x1040" }}
        {{ $rXL := $r.Fit "1600x1600" }}
        {{ $rXXL := $r.Fit "2048x2048" }}
        {{ $slide := dict
            "src" $rXL.RelPermalink
            "srcset" (printf "%s 1040w, %s 1600w, %s 2048w" $rLarge.RelPermalink $rXL.RelPermalink $rXXL.RelPermalink)
            "sizes" "95vw"
            "title" $p.Title
        }}
        {{ $album = $album | append $slide }}
      {{ end }}
    {{ else }}
      {{/* Prefer local assets/images by index if available */}}
      {{ $globalIndex := add $offset $i }}
      {{ if lt $globalIndex (len $locals) }}
        {{ $imgRes := index $locals $globalIndex }}
        {{ $small := $imgRes.Fit "520x520" }}
        {{ $med := $imgRes.Fit "780x780" }}
        {{ $large := $imgRes.Fit "1040x1040" }}
        {{ $srcset = printf "%s 520w, %s 780w, %s 1040w" $small.RelPermalink $med.RelPermalink $large.RelPermalink }}
        {{ $imgURL = $small.RelPermalink }}
        {{ $xl := $imgRes.Fit "1600x1600" }}
        {{ $xxl := $imgRes.Fit "2048x2048" }}
        {{ $fullURL = $xl.RelPermalink }}
        {{ $fullset = printf "%s 1040w, %s 1600w, %s 2048w" $large.RelPermalink $xl.RelPermalink $xxl.RelPermalink }}
        {{/* Album contains at least this image when no page resources */}}
        {{ $album = $album | append (dict "src" $xl.RelPermalink "srcset" (printf "%s 1040w, %s 1600w, %s 2048w" $large.RelPermalink $xl.RelPermalink $xxl.RelPermalink) "sizes" "95vw" "title" $p.Title) }}
      {{ else if $p.Params.images }}
        {{/* If a list of images is provided in front matter */}}
        {{ $imgs := $p.Params.images }}
        {{ with $imgs }}
          {{ range $j, $u := . }}
            {{ $url := cond (or (hasPrefix $u "http://") (hasPrefix $u "https://")) $u (printf "/%s" ($u | strings.TrimPrefix "/")) }}
            {{ if eq $j 0 }}
              {{ $imgURL = $url }}
              {{ $fullURL = $url }}
            {{ end }}
            {{ $album = $album | append (dict "src" $url "title" $p.Title) }}
          {{ end }}
        {{ end }}
      {{ else if $p.Params.image }}
        {{ $src := $p.Params.image }}
        {{ if (or (hasPrefix $src "http://") (hasPrefix $src "https://")) }}
          {{ $imgURL = $src }}
          {{ $fullURL = $src }}
          {{ $album = $album | append (dict "src" $src "title" $p.Title) }}
        {{ else }}
          {{ $imgURL = (printf "/%s" ($src | strings.TrimPrefix "/")) }}
          {{ $fullURL = $imgURL }}
          {{ $album = $album | append (dict "src" $fullURL "title" $p.Title) }}
        {{ end }}
      {{ end }}
    {{ end }}
    <article class="gallery-item">
  <a href="{{ $p.RelPermalink }}" class="gallery-link" aria-label="View {{ $p.Title }}" data-full="{{ cond (ne $fullURL "") $fullURL $imgURL }}" {{ if $fullset }}data-fullset="{{ $fullset }}" data-fullsizes="95vw"{{ end }} data-title="{{ $p.Title }}">
        {{ if $imgURL }}
          <img class="gallery-image" src="{{ $imgURL }}" {{ if $srcset }}srcset="{{ $srcset }}" sizes="{{ $sizes }}"{{ end }} alt="{{ $p.Title }}" loading="lazy" decoding="async">
        {{ else }}
          <div class="gallery-placeholder" aria-hidden="true">No Image</div>
        {{ end }}
        <div class="gallery-meta">
          <h2 class="gallery-title">{{ $p.Title }}</h2>
        </div>
      </a>
      {{/* Embed album data as JSON for lightbox to consume */}}
      {{ if gt (len $album) 0 }}
        <template class="album-data" type="application/json">{{ $album | jsonify }}</template>
      {{ end }}
    </article>
  {{ end }}
</div>
