{{ $pages := .Pages }}
{{ $offset := default 0 .Offset }}
{{ $locals := resources.Match "images/*" }}
{{ $locals := sort $locals "Name" }}
<div id="gallery" class="gallery">
  {{ range $i, $p := $pages }}
    {{ $imgURL := "" }}
    {{ $srcset := "" }}
    {{ $sizes := "(max-width: 700px) 50vw, (max-width: 1100px) 33vw, 260px" }}
    {{ $res := ($p.Resources.ByType "image") }}
    {{ if gt (len $res) 0 }}
      {{ $img := index $res 0 }}
      {{ $small := $img.Fit "520x520" }}
      {{ $med := $img.Fit "780x780" }}
      {{ $large := $img.Fit "1040x1040" }}
      {{ $srcset = printf "%s 520w, %s 780w, %s 1040w" $small.RelPermalink $med.RelPermalink $large.RelPermalink }}
      {{ $imgURL = $small.RelPermalink }}
    {{ else }}
      {{/* Prefer local assets/images by index if available */}}
      {{ $globalIndex := add $offset $i }}
      {{ if lt $globalIndex (len $locals) }}
        {{ $imgRes := index $locals $globalIndex }}
        {{ $small := $imgRes.Fit "520x520" }}
        {{ $med := $imgRes.Fit "780x780" }}
        {{ $large := $imgRes.Fit "1040x1040" }}
        {{ $srcset = printf "%s 520w, %s 780w, %s 1040w" $small.RelPermalink $med.RelPermalink $large.RelPermalink }}
        {{ $imgURL = $small.RelPermalink }}
      {{ else if $p.Params.image }}
        {{ $src := $p.Params.image }}
        {{ if (or (hasPrefix $src "http://") (hasPrefix $src "https://")) }}
          {{ $imgURL = $src }}
        {{ else }}
          {{ $imgURL = (printf "/%s" ($src | strings.TrimPrefix "/")) }}
        {{ end }}
      {{ end }}
    {{ end }}
    <article class="gallery-item">
      <a href="{{ $p.RelPermalink }}" class="gallery-link" aria-label="View {{ $p.Title }}" data-full="{{ $imgURL }}" data-title="{{ $p.Title }}">
        {{ if $imgURL }}
          <img class="gallery-image" src="{{ $imgURL }}" {{ if $srcset }}srcset="{{ $srcset }}" sizes="{{ $sizes }}"{{ end }} alt="{{ $p.Title }}" loading="lazy" decoding="async">
        {{ else }}
          <div class="gallery-placeholder" aria-hidden="true">No Image</div>
        {{ end }}
        <div class="gallery-meta">
          <h2 class="gallery-title">{{ $p.Title }}</h2>
        </div>
      </a>
    </article>
  {{ end }}
</div>
